{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <p>This is a GPT-based language-learning app that allows the user to create scenarios with goals and then try to accomplish those goals.</p>
    <p>It is based on discussions from Leaner Startup's AI Hackathon 6.0.</p>
    <p>Created by David Kettler.</p>
    <p>See <a href="https://github.com/dtkettler/factchecker">https://github.com/dtkettler/factchecker</a> for more information.</p>
{% endblock %}